<label>{{ formElementJot.title }}</label>
<input [attr.accept]="accept" [attr.alt]="alt" [attr.autocomplete]="autocomplete" [attr.autofocus]="autofocus"
    [attr.capture]="capture" [attr.checked]="checked" [attr.dirname]="dirname" [attr.disabled]="disabled"
    [attr.form]="form" [attr.formaction]="formaction" [attr.formenctype]="formenctype" [attr.formmethod]="formmethod"
    [attr.formnovalidate]="formnovalidate" [attr.formtarget]="formtarget" [attr.height]="height" [attr.list]="list"
    [attr.max]="max" [attr.maxlength]="maxlength" [attr.min]="min" [attr.minlength]="minlength"
    [attr.multiple]="multiple" [attr.name]="name" [attr.pattern]="pattern" [attr.placeholder]="placeholder"
    [attr.readonly]="readonly" [attr.required]="required" [attr.size]="size" [attr.src]="src" [attr.step]="step"
    [attr.type]="type" [attr.value]="value" [attr.width]="width">
<span>{{ formElementJot.description }}</span>