<app-shared-loading *ngIf="componentIsLoading"></app-shared-loading>

<div class="row" *ngIf="!componentIsLoading && !!jot">

    <div class="col d-flex align-items-stretch">
        <div class="card border border-success">
            <div class="card-header">
                <h3>{{ jot.title }}</h3>
            </div>
            <div class="card-body">
                <div *ngFor="let formElementType of jot.form_element_types" class="row mb-3">
                    <app-shared-form-elements [formElementType]="formElementType"></app-shared-form-elements>
                </div>
            </div>
            <div class="card-footer">
                <a routerLink="/jots#notImplemented" class="btn btn-info btn-sm float-right"><i
                        class="fas fa-save mr-1"></i> Save</a>
            </div>
        </div>
    </div>

</div>