<div class="col" [ngSwitch]="formElementJot.form_element.element">
    <app-shared-form-elements-input *ngSwitchCase="'input'" [formElementJot]="formElementJot">
    </app-shared-form-elements-input>
    <label *ngSwitchCase="'label'"></label>
    <select *ngSwitchCase="'select'"></select>
    <textarea *ngSwitchCase="'textarea'"></textarea>
    <button *ngSwitchCase="'button'"></button>
    <fieldset *ngSwitchCase="'fieldset'"></fieldset>
    <datalist *ngSwitchCase="'datalist'"></datalist>
    <ngb-alert *ngSwitchDefault type="danger" dismissible="false">Unrecognized Form Element</ngb-alert>
</div>