<div class="row" *ngIf="jots.length > 0 && !componentIsLoading">

    <div class="col" *ngFor="let jot of jots">
        <div class="card">
            <div class="card-header">
                <h3>{{ jot.title }}</h3>
            </div>
            <div class="card-body">
                <p class="lead">{{ jot.description }}</p>
            </div>
            <div class="card-footer">
                <a href="" class="btn btn-primary">New Jotting</a>
            </div>
        </div>
    </div>

</div>

<div class="row" *ngIf="jots.length === 0 && !componentIsLoading">

    <div class="col">
        <div class="card">
            <div class="card-body">
                <p class="lead">
                    Never measure the height of a mountain until you have reached the top. Then you will see how low it
                    was. ---Dag Hammarskjold
                </p>
            </div>
        </div>
    </div>

</div>

<div class="loader" *ngIf="componentIsLoading">Loading...</div>