<div id="main-wrapper" [ngClass]="{'show-sidebar': showMobileMenu}" [dir]="options.direction"
    [attr.data-theme]="options.theme" [attr.data-layout]="options.layout" [attr.data-sidebartype]="options.sidebarType"
    [attr.data-sidebar-position]="options.sidebarPosition" [attr.data-header-position]="options.headerPosition"
    [attr.data-boxed-layout]="options.boxed">

    <header class="topbar" [attr.data-navbarbg]="options.navbarBackground">
        <nav class="d-flex top-navbar navbar-expand-lg"
            [ngClass]="(options.navbarBackground === 'skin6') ? 'navbar-light' : 'navbar-dark'">
            <div class="navbar-header" [ngClass]="(expandLogo)?'expand-logo':''"
                [attr.data-logobg]="options.logoBackground">

                <a (click)="showMobileMenu = !showMobileMenu"
                    class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)">
                    <i [ngClass]="(showMobileMenu)?'ti-close':'ti-menu'"></i>
                </a>

                <a class="navbar-brand text-center" href="/">
                    <b class="logo-icon">
                        jot
                        <!-- <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" /> -->
                    </b>
                    <span class="logo-text">
                        sauce
                        <!-- <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                        <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" /> -->
                    </span>
                </a>

                <a class="topbartoggler d-block d-lg-none waves-effect waves-light" href="javascript:void(0)"
                    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                    <i class="ti-more"></i>
                </a>
            </div>

            <div class="navbar-collapse collapse" id="navbarSupportedContent" [ngbCollapse]="!isCollapsed"
                [attr.data-navbarbg]="options.navbarBackground">

                <div *ngIf="options.layout === 'horizontal' else vheader" class="w-100">
                    <app-horizontal-navigation class="w-100 d-flex align-items-center">
                    </app-horizontal-navigation>
                </div>

                <ng-template #vheader>
                    <div class="w-100">
                        <app-vertical-navigation (toggleSidebar)="toggleSidebarType()">
                        </app-vertical-navigation>
                    </div>
                </ng-template>
            </div>
        </nav>
    </header>

    <aside class="left-sidebar" [attr.data-sidebarbg]="options.sidebarBackground" (mouseover)="logo()"
        (mouseout)="logo()">
        <div *ngIf="options.layout === 'horizontal'; else vlayout">
            <app-horizontal-sidebar></app-horizontal-sidebar>
        </div>

        <ng-template #vlayout>
            <div class="scroll-sidebar" [perfectScrollbar]="perfectScrollbar">
                <app-vertical-sidebar></app-vertical-sidebar>
            </div>
        </ng-template>
    </aside>

    <div class="page-wrapper">
        <app-breadcrumb></app-breadcrumb>

        <div class="container-fluid">

            <router-outlet></router-outlet>

        </div>

        <footer class="footer text-center">
            HOT SAUCE JAKE
        </footer>

    </div>

    <!-- <app-settings [options]="options" (options)="updateSettings($event)" [perfectScrollbar]="perfectScrollbar">
    </app-settings> -->
</div>